{% extends 'base.html' %}
{% block content %}


    <div class="jumbotron">
        <div class="container text-center">
          <h1>Join Classroom</h1>      
        </div>
    </div>

    <a href="{% url 'student_classroom_list' %}" class="btn btn-outline-primary" role="button">My Classrooms</a>

    <div class="alert alert-{{ message.tags }}">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            {% if message.tags == "success" %} <div class="alert alert-success " role="alert"> {% endif %}
            {% if message.tags == "error" %} <div class="alert alert-danger" role="alert"> {% endif %}
                {{message}}
              </div>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

    <section>
        <div class="container">
          <div class="row">
            <div class="col-md-6 mx-auto">
              <div class="card">
                <div class="card-header text-black">
                </div>
                <div class="card-body">
                    {% load crispy_forms_tags %}

                    
                    <form action="." method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="submit" value="Join Classroom">
                    </form>
                  
                
                 </div>
                    </div>   
                </div>
              </div>
            </div>
        </div>
      </section>

{% endblock %}