{% extends 'base.html' %}
{% block content %}

    <div class="jumbotron">
        <div class="container text-center">
          <h1>{{ user.get_username }}'s StudentHub</h1>      
        </div>
    </div>
  
      <div class="container-fluid bg-3 text-center">    
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-lg-3">
            <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
     
                <div class="card-body">
                    <a href="{% url 'classtrail' %}" class="card-title btn btn-primary stretched-link"><h5>ClassTrail</h5></a>
                  <p class="card-text">Keep a record of all your work here!</p>
                </div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-lg-3"> 
            <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                <div class="card-body">
                    <a href="{% url 'student_classroom_list' %}" class="card-title btn btn-primary stretched-link"><h5>View Classes</h5></a>
                  <p class="card-text">View and join classrooms here.</p>
                </div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-lg-3"> 
            <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                <div class="card-body">
                    <a href="{% url 'view_grades' %}" class="card-title btn btn-primary stretched-link"><h5>View Grades</h5></a>
                  <p class="card-text">View your grades for your classes.</p>
                </div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-lg-3">
            <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                <div class="card-body">
                  <a href="{% url 'work_feed'%}" class="card-title btn btn-primary stretched-link"><h5>Work Feed</h5></a>
                  <p class="card-text">View work due for classrooms.</p>
                </div>
              </div>
          </div>
        </div>
      </div>

      
      {% endblock %}